<%= form_with model: group do |form| %>
  <header>
    <div class="title">
      <div>
        <%= link_to back do %>
          <%= image_tag 'back.svg' %>
        <% end %>
      </div>
      <div><h2><%= title %></h2></div>
      <div><%= form.submit "Create" %></div>
    </div>
  </header>

  <%= render partial: 'shared/form_errors', locals: { message: 'Invalid category', entity: group } if group.errors.any? %>

  <div class="form-body">
    <div class="field">
      <%= form.text_field :name, placeholder: 'Name' %>
    </div>
    <div class="field">
      <%= form.file_field :icon %>
    </div>
  </div>
<% end %>