<%= form_with model: group do |form| %>
  <% group.errors.full_messages.each do |error| %>
    <div><%= error %></div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="field">
    <%= form.label :icon %>
    <%= form.file_field :icon %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>