<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <header>
    <div class="title">
      <div>
        <%= link_to welcome_path do %>
          <%= image_tag 'back.svg' %>
        <% end %>
      </div>
      <div><h2>Sign up</h2></div>
      <div><%= f.submit "Sign up" %></div>
    </div>
  </header>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-body">
    <div class="field">
      <%= f.text_field :name, autofocus: true, autocomplete: "name", required: true, placeholder: "name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autocomplete: "email", required: true, placeholder: "email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", required: true, placeholder: "password" %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", required: true, placeholder: "password confirmation" %>
    </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
