<%= form_with model: [group, payment] do |form| %>
  <header>
    <div class="title">
      <div>
        <%= link_to back do %>
          <%= image_tag 'back.svg' %>
        <% end %>
      </div>
      <div><h2><%= title %></h2></div>
      <div><%= form.submit "Create" %></div>
    </div>
  </header>

  <%= render partial: 'shared/form_errors', locals: { message: 'Invalid payment', entity: payment } if payment.errors.any? %>

  <div class="form-body">
    <div class="field">
      <%= form.text_field :amount, placeholder: 'amount' %>
    </div>

    <div class="field">
      <%= form.text_field :name, placeholder: 'name' %>
    </div>

    <div class="check-boxes-field">
      <% current_user.groups.each do |group| %>
        <div>
          <%= form.check_box "groups[#{group.id}]"  %>
          <%= form.label group.name  %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>