<%= form_with model: [group, payment] do |form| %>
  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <% current_user.groups.each do |group| %>
    <%= form.label group.name  %>
    <%= form.check_box "groups[#{group.id}]"  %>
  <% end %>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>